@import 'open-color';

$gray-dker: #121212;
$gray-dk: lighten($gray-dker, 5%);
$gray: lighten($gray-dk, 5%);
$gray-lt: lighten($gray, 5%);
$gray-lter: lighten($gray-lt, 5%);

$primary: $oc-blue-9;
$primary-hover: lighten($primary, 5%);
$primary-active: darken($primary, 10%);

$default-text-on-light: $oc-gray-9;
$default-text-on-dark: $oc-gray-1;
$default-text: $default-text-on-light;
$light-text: #9ca0a5;
$error: $oc-red-7;

$body-background: $oc-gray-1;

$nav-background: $primary;

$hr: $oc-gray-9;

$error: $oc-red-9;
